# --- SEGURIDAD (CRÍTICO) ---
.env
.env.local
.env.*.local
# ¡ESTO ES VITAL! Bloquea la llave maestra que acabamos de generar
serviceAccountKey.json

# --- DEPENDENCIAS ---
node_modules/

# --- BUILD Y DISTRIBUCIÓN ---
dist/
build/

# --- FIREBASE ---
.firebase/
firebase-debug.log
firebase-debug.log.*

# --- SISTEMA OPERATIVO (Basura) ---
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- IDEs (Opcional pero recomendado) ---
.vscode/
.idea/
Cómo dar Permisos de Admin a Nuevos Usuarios.txt
