@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
    overscroll-behavior-y: none;
}

html {
    /* SOLUCIÓN FINAL AL FONDO NEGRO/TRANSPARENTE: */
    /* 1. Pintamos la raíz del color de la app. Esto "tapa" el wallpaper si la app se queda corta. */
    background-color: #f1f5f9;

    /* 2. Forzamos altura 100% fija */
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* El scroll lo maneja la app, no el html */
}

body {
    margin: 0;
    padding: 0;

    /* El cuerpo ocupa todo el espacio disponible */
    height: 100%;
    width: 100%;

    background-color: #f1f5f9;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-backface-visibility: hidden;
}

.animate-in {
    animation-fill-mode: forwards;
}