@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
    overscroll-behavior-y: none;
}

html {
    background-color: #f1f5f9;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /* IMPORTANTE: Usar background-attachment: scroll evita bugs visuales en Android Chrome */
    background-color: #f1f5f9;
    background-attachment: scroll;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Resto de estilos igual... */
input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-backface-visibility: hidden;
}

.animate-in {
    animation-fill-mode: forwards;
}