@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* Cambia height: 100% por esto para móviles */
    min-height: 100dvh;
    height: 100dvh;
    /* Evitar rebote */
    overscroll-behavior-y: none;
}


html {
    height: 100dvh;
    /* IMPORTANTE: El color de fondo debe estar en HTML para cubrir "rebotes" */
    background-color: #f1f5f9;
}


body {
    margin: 0;
    /* Altura dinámica para móviles */
    min-height: 100dvh;
    /* Padding para iPhone con barra inferior (Home Indicator) */
    padding-bottom: env(safe-area-inset-bottom);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f5f9;

    /* TRUCOS APP NATIVA */
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}


/* IMPORTANTE: Asegurar que el contenedor raíz (#root) ocupe todo el espacio */
#root {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}


input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}


/* OCULTAR BARRAS */
::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.animate-in {
    animation-fill-mode: forwards;
}

* {
    -webkit-backface-visibility: hidden;
}