@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    min-height: 100%;
    height: 100%;
    overscroll-behavior-y: none;
}


html {
    height: 100%;
    background-color: #f1f5f9;
}


body {
    margin: 0;
    min-height: 100vh;
    /* ELIMINAMOS ESTA LÍNEA: padding-bottom: env(safe-area-inset-bottom); */
    /* La quitamos para que la app ocupe realmente el 100% de la pantalla */

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f5f9;

    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}


#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}


input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}


::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.animate-in {
    animation-fill-mode: forwards;
}

* {
    -webkit-backface-visibility: hidden;
}