@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
    overscroll-behavior-y: none;
}

/* ESTRATEGIA "TELÓN DE FONDO" */
html {
    /* Esto es lo que tapa el fondo de pantalla del celular: */
    background-color: #f1f5f9;

    height: 100%;
    width: 100%;
    /* Prevenir scroll elástico en el documento raíz */
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /* El mismo color de fondo para consistencia */
    background-color: #f1f5f9;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-backface-visibility: hidden;
}

.animate-in {
    animation-fill-mode: forwards;
}