@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Forzar modo claro para que los iconos del sistema (batería, botones) sean negros/visibles */
    color-scheme: light;
    /* Desactivar rebote elástico */
    overscroll-behavior-y: none;
}

html {
    /* SOLUCIÓN AL FONDO DE PANTALLA: */
    /* 1. Pintamos la raíz del mismo color que la app para tapar cualquier hueco transparente */
    background-color: #f1f5f9;
    /* 2. Forzamos que ocupe al menos toda la altura física */
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* Evitar doble scroll */
}

body {
    /* ESTRATEGIA "APP SHELL": */
    /* Posición fija para anclar la app a la pantalla y evitar que se mueva */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    /* Color de fondo redundante por seguridad */
    background-color: #f1f5f9;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* UX Nativa */
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-backface-visibility: hidden;
}

.animate-in {
    animation-fill-mode: forwards;
}